src/main/mule/w8a-gwork.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4dc25905-c01e-423e-a36f-840ffbb680f0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b672f364-e2a9-497b-97e5-ee576b8efd8e" >
		<http:request-connection host="api.zippopotam.us" />
	</http:request-config>
	<flow name="w8a-gworkFlow" doc:id="97d39691-fa45-4726-9833-532707a648a2" >
		<http:listener doc:name="Listener" doc:id="d038b17c-1caf-4f24-9179-2f2dfc00e447" path="get-data/{zipcode}" config-ref="HTTP_Listener_config"/>
		<set-variable value="#[attributes.uriParams.zipcode]" doc:name="Set Variable" doc:id="93c164f8-4feb-4929-8fe4-1fdda923a817" variableName="zipcode"/>
		<http:request method="GET" doc:name="Request" doc:id="3ac1530b-338c-41db-91c1-d4bcce613f55" path="/us/{zipcode}" config-ref="HTTP_Request_configuration">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"zipcode" : vars.zipcode
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
